@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins" sans-serif;
}

:root {
  --bg-color: #000000;
  --second-bg-color: #161616;
  --text-color: #fff;
  --main-color: #7b4bb7;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  background: var(--bg-color);
  font-family: "Poppins" sans-serif;
  color: var(--text-color);
}
html::-webkit-scrollbar {
  width: 0.8rem;
}
html::-webkit-scrollbar-track {
  background: var(--bg-color);
}
html::-webkit-scrollbar-thumb {
  background: var(--main-color);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 3rem 9%;
  background: rgba(0, 0, 0, 0.7);
  filter: drop-shadow(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.logo {
  font-family: "Poppins";
  font-size: 3rem;
  color: var(--main-color);
  font-weight: 800;
  cursor: pointer;
  transition: 0.5s ease;
}
.logo:hover {
  transform: scale(1.1);
}
.navbar a {
  font-family: "Poppins";
  font-size: 1.8rem;
  color: var(--text-color);
  margin-left: 4rem;
  font-weight: 500;
  transition: 0.9s ease;
  border-bottom: 3px solid transparent;
}
.navbar a:hover,
.navbar a:active {
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
}
#menu-icon {
  font-size: 3.6rem;
  color: var(--main-color);
  display: none;
}

@media (max-width: 995px) {
  #menu-icon {
    display: block;
  }
  .navbar {
    position: absolute;
    top: 100%;
    right: 0;
    width: 40%;
    border-left: 3px solid var(--main-color);
    border-bottom: 3px solid var(--main-color);
    border-bottom-left-radius: 2rem;
    padding: 1rem 3%;
    background-color: var(--second-bg-color);
    border-top: 0.1rem solid rgba(0, 0, 0, 0.4);
    display: none;
  }
  .navbar.active {
    display: block;
  }
  .navbar a {
    font-family: "Poppins";
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
  }
  .navabr a:hover,
  .navbar.active {
    padding: 1rem;
    border-radius: 0.5rem;
    border-bottom: 0.5rem solid var(--main-color);
  }
}

section {
  min-height: 100vh;
  padding: 5rem 9% 5rem;
}
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  background: var(--bg-color);
}

.home .home-content h1 {
  font-family: "Poppins";
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.3;
}
span {
  color: var(--main-color);
  font-family: "Poppins";
}
.home-content h3 {
  font-family: "Poppins";
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: 700;
}
.home-img img {
  position: relative;
  width: 32vw;
  border-radius: 50%;
  box-shadow: 0 0 25px var(--main-color);
  cursor: pointer;
  transition: 0.5s ease;
}

.home-img img:hover {
  transform: scale(1.01);
  filter: drop-shadow(0 0 25px var(--main-color));
}
.home-content p {
  font-family: "Poppins";
  font-size: 1.8rem;
  font-weight: 500;
}
.social-icon a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  font-size: 2rem;
  border-radius: 50%;
  color: var(--main-color);
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.3s ease;
}
.social-icon a:hover {
  color: white;
  transform: scale(1.3) translateY(-5px);
  background: var(--main-color);
  box-shadow: 0 0 25px var(--main-color);
}
.btn {
  font-family: "Poppins";
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--bg-color);
  border-radius: 4rem;
  font-size: 1.6rem;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  letter-spacing: 0, 1rem;
  font-weight: 600;
  transition: 0.3s ease;
  cursor: pointer;
}
.btn:hover {
  transform: scale(1.03);
  background-color: var(--main-color);
  color: var(--text-color);
  box-shadow: 0 0 25px var(--main-color);
}

.typing_text {
  font-size: 34px;
  font-weight: 600;
  min-width: 280px;
}
.typing_text span {
  position: relative;
}
.typing_text span::before {
  content: "Software Developer";
  color: var(--main-color);
  animation: words 20s infinite;
}
.typing_text span::after {
  content: "";
  background: var(--bg-color);
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  border-left: 3px solid var(--bg-color);
  right: -8;
  animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}
@keyframes cursor {
  to {
    border-left: 3px solid var(--main-color);
  }
}
@keyframes words {
  0%,
  20% {
    content: "Web Developer";
  }
  21%,
  40% {
    content: "Web Designer";
  }
  41%,
  60% {
    content: "Photographer";
  }
  61%,
  80% {
    content: "Gamer";
  }
  81%,
  100% {
    content: "Footballer";
  }
}
@keyframes typing {
  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95% {
    width: 0;
  }
  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85% {
    width: calc(100% + 8px);
  }
}
@media (max-width: 1000px) {
  .home {
    gap: 4rem;
  }
}
@media (max-width: 995) {
  .home {
    display: flex;
    margin: 5rem 4rem;
  }
  .home .home-content h3 {
    font-size: 2.5rem;
  }
  .home-content h1 {
    font-size: 5rem;
  }
  .home-img img {
    width: 70vw;
    margin-top: 4rem;
  }
}

/* service section */

.services {
  background: var(--bg-color);
}
.heading {
  text-align: center;
  color: white;
  font-size: 50px;
  font-family: "Poppins";
}
.services-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.5rem;
}
.service-box {
  background-color: var(--main-color);
  height: 300px;
  border-radius: 3rem;
  cursor: pointer;
  transition: 0.3s ease;
}
.service-box:hover {
  background: white;
  color: var(--main-color);
  transform: scale(1.03);
  border: 1px solid var(--main-color);
}
.service-box .service-info {
  display: flex;
  flex-direction: column;
  text-align: left;
  max-height: 200px;
  justify-content: center;
  align-items: baseline;
  padding: 5rem;
}
.service-info h4 {
  font-family: "Poppins";
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.service-info p {
  font-family: "Poppins";
  font-size: 1.6rem;
  font-weight: 400;
  max-height: 100px;
  margin: auto;
}
@media (max-width: 991px) {
  section {
    padding: 10rem 3% 2rem;
  }
  .service {
    padding-bottom: 7rem;
  }
}
@media (max-width: 895px) {
  .services h2 {
    margin-bottom: 3rem;
  }
  .services-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* skills sections */

.skills {
  background: var(--bg-color);
}
.skills h2 {
  text-align: center;
  color: white;
  font-size: 50px;
  font-family: "Poppins";
}
.skills .container {
  background: #7c4bb737;
  color: var(--text-color);
  border-radius: 1rem;
  padding: 2rem;
  margin: auto;
  margin-top: 2rem;
}
.skills .container .row {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1.8rem;
}
.skills .container .bar {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 1rem;
  background: var(--bg-color);
  transition: 0.8s ease;
  cursor: pointer;
}
.skills .container .bar:hover {
  box-shadow: 0 4px 10px var(--main-color);
  transform: scale(1.03);
}
.skills .container .bar .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
.skills .container .bar .info span {
  font-size: 2rem;
  font-weight: 500;
  margin-left: 0, 5rem;
}
@media (max-width: 989px) {
  .bar {
    font-size: 56px;
  }
}

@media (max-width: 895px) {
  .skills .container .row {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* contack section */
.contact h2 {
  text-align: center;
  color: white;
  font-size: 50px;
  font-family: "Poppins";
}
.contact form {
  max-width: 70rem;
  margin: 1rem auto;
  margin-bottom: 3rem;
  text-align: center;
}
.contact form .input-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--text-color);
  background: var(--bg-color);
  border-radius: 0.8rem;
  border: 2px solid var(--main-color);
  margin: 1rem 0;
  resize: none;
}
.contact form .btn {
  margin-top: 2rem;
}

/* footer */

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 40px 0;
  background-color: var(--main-color);
}
.footer .social {
  text-align: center;
  padding-bottom: 25px;
  color: black;
}
.footer .social a {
  font-size: 25px;
  color: black;
  border: 2px solid black;
  width: 42px;
  height: 42px;
  line-height: 42px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 10px;
  transition: 0.3s ease;
}
.footer .social a:hover {
  transform: scale(1.3) translateY(-5px);
  background: black;
  color: var(--main-color);
}
.footer ul {
  margin-top: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.8;
  margin-bottom: 0;
  text-align: center;
}
.footer ul li a {
  color: black;
  border-bottom: 3px solid transparent;
  transition: 0.3s ease;
}
.footer ul li a:hover {
  border-bottom: 3px solid transparent;
}
.footer ul li {
  display: inline-block;
  padding: 0 15px;
}
.footer .copyright {
  margin-top: 50px;
  text-align: center;
  font-size: 16px;
  color: black;
}

@media (max-width: 1285) {
  html {
    font-size: 55px;
  }
  .services-container {
    padding-bottom: 7rem;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 5rem;
  }
}
@media (max-width: 991px) {
  .header {
    padding: 2rem 3%;
  }
  .sectiom {
    padding: 10rem 3% 2rem;
  }
  .services {
    padding-bottom: 7rem;
  }
  .footer {
    padding: 2rem 3%;
  }
}
